@model FakeShareImageClient.Models.LocalPasswordModel

<h3>Đổi mật khẩu</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.Label("Mật khẩu hiện tại")
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.Label("Mật khẩu mới")
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.Label("Nhập lại mật khẩu mới")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Thay đổi mật khẩu" />
    </fieldset>
}
