@model FakeShareImageClient.Models.LocalPasswordModel

<p>
    Bạn chưa có mật khẩu trên website này. Hãy thiết lập mật khẩu trên website để có thể đăng nhập mà không cần thông qua dịch vụ khác.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.Label("Mật khẩu mới")
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.Label("Nhập lại mật khẩu mới")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Thiết lập mật khẩu" />
    </fieldset>
}
